<% @messages.each do |message| %>
  <% if message.user_id == current_user.id %>
    <div class="my_message">
      <p>
        <span style="font-size: 10px"><%= message.created_at.strftime('%H:%M') %></span>
        <%= attachment_image_tag current_user, :profile_image, format:"jpg", size:"50x50", fallback:"no_image.png", class:"profile-image" %><br>
        <span class="chat"><%= message.message %></span>
      </p>
    </div>
  <% else %>
    <div class="user_message">
      <p>
        <%= attachment_image_tag message.user, :profile_image, format:"jpg", size:"50x50", fallback:"no_image.png", class:"profile-image" %>
        <span style="font-size: 10px"><%= message.created_at.strftime('%H:%M') %></span><br>
        <span class="chat"><%= message.message %></span>
      </p>
    </div>
  <% end %>
<% end %>
