<% games.each do |game| %>
<tr>
  <td></td>
   <td>
     <%= link_to(game) do %>
     <%= attachment_image_tag game, :game_image, format:"jpg", fallback:"no_image.png", :size => '100x100' %>
     <% end %>
   </td>

   <td>
     <font size="4"><%= game.title %></font>
   </td>
   <td>
     <font size="4"><%= game.user.name %></font>
   </td>
   <td><%= raw(game.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')) %></td>
</tr>
<% end %>
