<div class="container">
  <div class="row">
    <div class="col-md-8">
      <%= attachment_image_tag @game, :game_image, format:"jpg", fallback:"no_image.png", class:"image" %>
    </div>
    <div class="col-lg-4">
      <h2>title</h2>
      <p>
        <font size="5"><%= @game.title %></font>
      </p>
      <h2>comment</h2>
      <p>
        <font size="5"><%= simple_format @game.body %></font>
      </p>
      <div>
        <p><%= @game.tag_list %></p>
        <p><font size="5">By<%= @game.user.name %></font></p>
        <p class="fovarites">
          <%= render 'favorites/favorites', game: @game %>
        </p>
      </div>
      <% if @game.user.id == current_user.id %>
        <div class="button">
          <%= link_to "編集画面へ", edit_game_path(@game), class: "btn btn-lg btn-success" %>
          <%= link_to "削除", @game, method: :delete, class:"btn btn-lg btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
